<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URL Shortener App</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 20px;
        }

        h1 {
            text-align: center;
            color:white;
        }

        .form-container {
            margin-bottom: 20px;
            padding:10px
        }

        .form-container input[type="text"] {
            width: 300px;
            height: 30px;
            padding: 5px;
            font-size: 14px;
        }

        .form-container input[type="submit"] {
            height: 30px;
            padding: 5px 15px;
            font-size: 14px;
            background-color: #4CAF50;
            color: white;
            border: none;
            cursor: pointer;
        }
        fieldset{
            display: flex;
            justify-content: center;
            align-items: center;
            padding:15px;
            border: #4CAF50 3px solid; 
        }
        header{
            background-color: #4CAF50;
            display: flex;
            justify-content: center;
            align-items: center;
            padding:15px 
        }
        .explain{
            display: flex;
            flex-flow: column;
            justify-content: center;
            align-items: center;
            padding:5px
        }
        .explain > p{
            font-size: 14px;
            margin:5px
        }
    </style>
</head>

<body>
    <header>
        <h1>URL Shortener</h1>
    </header>
    <div class="form-container">
        <form id="urlForm" method="POST">
            <fieldset>
            <legend>URL Submitting :</legend>
            <label for="urlInput">Enter URL:</label>
            <input type="text" id="urlInput" name="urlInput" required placeholder="http://this.is.way/too/long?isnt=it">
            <input type="submit" value="Shorten URL">
            </fieldset>
        </form>
    </div>
    <div class="explain">
        <h4>Link After Shortening: </h4>
        <h5><%= shortLink %></h5>
    </div>
    <div class="explain">
        <p>this project has been done by Mostafa Abdallah using Node js</p>
        <p>to test the MVC architecture and to learn more about mongodb</p>
        <h3>Used Stack :</h3>
        <p>Node js , Docker , mongodb and mongoose</p>
    </div>

</body>
</html>